html,body
{
    height:100%;
    width:100%;
}

#NavBar {
    height: 60px; /* Use a specific height instead of a percentage for better control */
    width: 100%;
    position: fixed;
    background-color: black;
}

#bwText
{
    max-width:640ch;
    word-wrap:break-word;
    font-size: 2px;
    font: 2px monospace;
    font-family: 'Courier New', Courier, monospace;
}

#binText
{
    font-size: xx-small;
}